@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #07002c, #111);
}

main{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.fluide{
    width: 100%;
    height: auto;
}

.immit-container{
    width: 100%;
    margin: 0 auto;
}

.tuto{
    /*flex-basis: 20%;*/
    grid-area: 1 / 1 / 7 / 3;
    /*background-color: #ff4e10;*/
    border: 3px solid #ffae0b;
    margin: 10px 10px 0;
    /*order: 1;*/
}
.box {
    /*flex-basis: 40%;*/
    grid-area: 1 / 6 / 7 / 9;
    height: 94svh;
    /*border: 3px solid #ffae0b;*/
    position: relative;
    margin: 10px 10px 0;
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titre-immit{
    font-size: 2rem;
    text-align: center;
    color: #ffae0b;
    font-family: 'Poppins', sans-serif;
}
.prerodactyle-text, .brontosaurus-text, .trex-text, .hydrorion-text{
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 50px;
    padding: 5px 30px;
    color: #ffae0b;
    display: none;
}
.immit-text-dino{
    font-size: 4rem;
    line-height: 0;
    text-transform: uppercase;
}
.immit-result{
    grid-area: 4 / 3 / 7 / 6;
    border: 3px solid #ffae0b;
}

.p5Canvas {
    grid-area: 1 / 3 / 4 / 6;
    margin: 10px 10px 0;
    border: 3px solid #ffae0b;
    padding: 5px;
    /*order: 2;*/

}

.pterodactyle {
    width: 70%;
    margin: 0 auto;
    display: none;
}
.brontosaure {
    width: 55%;
    margin: 0 auto;
    display: none;
}
.trex {
    width: 80%;
    margin: 0 auto;
    display: none;
}
.hydrorion {
    width: 80%;
    margin: 0 auto;
    display: none;
}

.p-visible {
    display: block;
}

.ring{
    display: none;
    position: absolute;
    
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    
    width: 100%;
    height: 100%;

}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lds-spinner div {
    transform-origin: 100px 100px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ff4e10;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


@media screen  and (max-height: 950px){
    .immit-container{
        width: 90%;
    }
}





